.container-faq details {
    background: var(--branco);
    padding: 1.5rem;
    border-radius: var(--raio-borda);
    margin-bottom: 1rem;
    box-shadow: var(--sombra);
    cursor: pointer;
}
.container-faq summary {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    outline: none;
}
.container-faq p {
    margin-top: 1rem;
    color: var(--texto-claro);
}