 .cabecalho-principal {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.cabecalho-principal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}

.logo {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(1rem, 2vw, 1.75rem); /* cresce ou diminui com a tela */
    font-weight: 800;
    color: var(--cor-primaria);
    text-decoration: none;
    width: clamp(80px, 10vw, 120px); /* mínimo 80px, máximo 150px */
    z-index: 1001;
}


.nav-principal a {
    text-decoration: none;
    color: var(--texto-claro);
    margin-left: 2rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-principal a:hover {
    color: var(--cor-primaria);
}

.btn-nav {
    background-color: var(--cor-secundaria);
    color: var(--branco);
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-weight: 700;
}
    .btn-nav:hover {
    background-color: #28b463;
    color: var(--branco);
}



.btn-mobile {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1001;
}
.btn-mobile .linha {
    width: 30px;
    height: 3px;
    background-color: var(--texto-escuro);
    margin: 6px 0;
    transition: all 0.4s ease;
}

@media (max-width: 768px) {
    .btn-mobile { display: block; }
    .nav-principal {
        position: fixed;
        top: 0;
        right: -100%; /* Começa fora da tela */
        width: 70%;
        height: 100vh;
        background-color: var(--branco);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.5s ease-in-out;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    }
    .nav-principal.is-open {
        right: 0; /* Desliza para dentro da tela */
    }
    .nav-principal a {
        margin: 1.5rem 0;
        font-size: 1.2rem;
    }
}